.consultation-wrapper{

  border: 2px solid #4da598;
  margin-left: 30px;
  margin-top: 30px;
  height: 150px;
  width: 900px;
}

.consultation-card{
  display: flex;
  /* border: 2px solid blue; */
}

.consultation-body{
  /* border: 2px solid green; */
  margin-left: 30px;
  margin-top: 25px;
  /* gap: 2rem; */

}



.consultation-description{
  /* border: 2px solid purple; */
  margin-top: 10px;
  font-family: 'Playfair Display';
}

.patient-img{
  width: 100px;
  height: 100px;
  border-radius: 20%;
  /* border: 2px solid black; */
  margin-top: 20px;
  margin-left: 10px;
}

.pat-icon{
  width: 100px;
  height: 100px;
  border-radius: 20%;
}

.record-btns{
  /* border: 2px solid purple; */
  display: flex;
  gap: 2rem;
  margin-left: 30px;
  margin-top: 40px;
}

.view-rec{

  height: 60px;
  width: 100px;
}

.add-rec{

  height: 60px;
  width: 100px;
}