.sticky_header{
    display: flex;
    font-weight: bolder;
    font-size: 30px;
    font-weight: medium;
    color: black;
    font-family: 'Playfair Display';
    background-color: lightskyblue;
    padding: 5px 30px;
    margin-top: -5px;
    /* border: 2px solid red; */
    /* display: flex; */
    /* justify-content: space-between; */ 
    /* background-color: white; */
    /* align-items: center; */
}
