body{
    
    background-image: url("C:\Users\Mahek\EHR\client\src\assets\background.jpg");
}

.main{

    display: flex;
    padding: 0 40px;
    align-items: center;
    

}

.main__content{

   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 500px;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'Playfair Display';
    padding-top: 150px;
}

.main__desc{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}

.main__desc p{

    font-size: 25px;
    font-weight: bold;
    color: black;
}

.main__desc-quotes{
    color: black;
    ;
}

.homescreen{
    width: 550px;
    height: 503px;
}