.medical-form{

    margin-left: 30px;
    margin-top: 450px;
    margin-bottom: 10px;
    height: 1030px;
    width: 950px;
    background-color: #EDEDED;
    border-radius: 20px;
    

}

.patient-info{

  /* border: 2px solid red; */
  top: 10px;
}

.med-title{
    margin-top: 15px;
    text-align: center;

}

.diagnosis{
    margin-left: 30px;
    margin-top: 20px;
}

.diagnosis-sec{
    margin-left: 30px;
    margin-top: 10px;
    height: 200px;
    width: 900px;
}

.medications{
    margin-left: 30px;
    margin-top: 20px;
}

.medicine-1 {
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
  }

  .frequency1 {
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
  }  
  
  .no-of-days1 {
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
  } 

  .medicine-2 {
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
  }

  .frequency2 {
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
  }  
  
  .no-of-days2 {
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
  } 

  .weight {
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
  }

  .height {
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
  }

  .bp {
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
  }

  .clinical-test{
    margin-left: 30px;
    margin-top: 10px;
    padding: 15px;
    width: 300px;
    font-size: 16px;
  }

  .save{
    margin-left: 800px;
    margin-top: 10px;
    padding: 15px;
  }