.navbar{
    
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    margin-bottom: 100px;
    margin-top: -5px;
    background-color: white;
    /* border: 2px solid black; */
}

.navbar__header{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: 'Playfair Display';
    /* border: 2px solid red; */
}

.navbar__header img{

    height: 50px;
    width: 50px;
}

.navbar__header p{

    font-size: 30px;
    font-weight: medium;
    color: black;
    font-family: 'Playfair Display';
}


.navbar__menu{
    width: 500px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display';

}

.navbar__item{
    list-style-type: none;
    

}

.navbar__item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

