.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin-bottom: 30px;
    background-color: white;

}

.navbar__header{
    display: flex;
    align-items: center;

}

.navbar__header p{

    font-size: 30px;
    font-weight: medium;
    color: black;
    font-family: 'Playfair Display';
}


.navbar__menu{
    width: 500px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display';

}

.navbar__item{
    list-style-type: none;

}

.navbar__item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

